/*Global*/
.container{
  width: 870px;
  margin: 0 auto;
  margin-left: 165px;
}

.button{
  width: 150px;
  height: 50px;
  background-color: #000000;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Helvetica Text Styles*/
.helvetica-regular{
  font-family: helvetica;
}

.helvetica-bold{

}

.helvetica-medium{

}

.helvetica-light{

}


/*Header*/
header{
  width: 100%;
  height: 150px;
  background-color: #6F6F6F;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-around;
}

header .logo{
  font-size: 30px;
  margin-top: 15px;
}

header .logo .city-word{
  margin-left: 6px;
}

header .logo .nyc-word{
  margin-left: 16px;
}

/*Header Nav*/
nav{
  font-size: 16px;
  display: flex;
}

nav div{
  display: grid;
  grid-template-rows: 24px 24px 24px 24px;
  height: 94px;
}

nav div span{
  grid-row: 4/4;
  padding-left: 10px;
  padding-right: 10px;
}

nav div:hover{
  background-color: #ffc505;
}

/*Banner*/
.subway-dots{
  width: 234px;
  height: 18px;
  display: flex;
  justify-content: space-between;

}
.circle{
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.main-text{
  width: 410px;
  height: auto;
}

.main-text h1{
  font-size: 34px;
}

.main-text h2{
  font-size: 26px;
}

.main-text h3{
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 34px;
}

.main-text p{
  font-size: 16px;
  margin-bottom: 30px;
}
